html {
  font-family: "IBM Plex Sans", sans-serif;
}

.logo {
  max-width: 200px;
}

label {
  position: relative;
}

.magnify {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5em;
}

header {
  background-color: #ddd;
}

.options {
  background-color: #efefef;
}

.list {
  background-color: #fff;
}

li {
  list-style-type: none;
}

table {
  min-width: 45em;
}

@media only screen and (min-width: 60em) {

  .table-wrapper {
    overflow: visible;
  }

}

@media only screen and (min-width: 90em) {

  th {
    height: 3.2em;
  }

}
